@use 'partial'; //Henter parial.scss som modul og gør det muligt at kalde på elementerne i filen

/*--------General Styling---------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    background-image: url(../img/bg1.png);
    background-size: cover;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Coiny", system-ui;
    color: partial.$fifth-color;
    font-weight: 300;
    padding: 1em;
    text-align: center;
}
  
h1 {
    font-size: 24px;
}
  
h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}
  
img {
    max-width: 100%;
}
  
p, a {
    font-size: 14px;
}
  
p {
    padding: 0 2em 1.5em 2em;
}

a {
    text-decoration: none;
}

/*----------------------------------------*/

/*-------------Mobil Styling--------------*/
/*--------Login Page---------*/
#loginPage {
    display: none;
}

.login-container {
    @include partial.standardbg;
    padding-bottom: 50px;
}

.welcome-window {
    aspect-ratio: 1/1;
    background-image: url(../img/forsidebillede.png);
    color: partial.$primary-gradient;
    height: 210px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: grid;
    place-content: start;
    width: 100%;
}

.heading1 {
    @include partial.gradient-colour;
    margin-top: -25px;
    font-size: 30px
}

.heading2 {
    @include partial.gradient-colour;
    margin-top: -20px;
    font-size: 24px;
}

/*--------Username Felt---------*/
form {
    margin-top: 1.5em;
}

label {
    font-family: "Coiny", system-ui;
    color: partial.$fifth-color;
    font-size: 1.4em
    
}

input[type=text] {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.2em;
    color: partial.$fifth-color;
    background-color: partial.$primary-color;
    width: 100%;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: partial.$border-radius partial.$border-radius  partial.$border-radius partial.$border-radius;
}

input[type=text]:focus {
    background-color: partial.$tertiary-color;
}

::placeholder {
   color: partial.$fifth-color;
}

/*--------Profil & Background Images--------*/

.picturebox {
    margin-bottom: 30px;
}

.heading3, .heading4 {
    text-align: left;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top: 5px;
}

#avatars, #bg {
    img {
        max-width: 30%;
        border-radius: 20%;
        cursor: pointer;
    }
}

.avatar1 input:focus, .avatar2:focus, .avatar3:focus, .avatar4:focus, .avatar5:focus, .avatar6:focus, .bg1:focus, .bg2:focus, .bg3:focus, .bg4:focus, .bg5:focus, .bg6:focus {
    border: 3px soild partial.$fourth-color

}



/*--------Login Button--------*/
#loginBtn {
  @include partial.standardbtn;
}

#loginBtn:hover {
    background-color: partial.$fourth-color;
    color: white;
}
/*-------------------------*/
/*--------Chat--------*/
#chat {
    display: none;
}
/*--------Chat container & Messages--------*/
.chat-container {
    @include partial.standardbg;

    img {
        max-width: 30%;
        align-self: end;
    }
}
/*--------3 Dots Img--------*/
.dot {
    margin-top: 30px;
}

/*--------Chatinfo container--------*/
.chatinfo-container {
    background: partial.$primary-gradient;
    border-radius: 30px;
        
        h2 {
            margin-top: -50px;
        }
}
/*--------Messages--------*/
.message-container1, .message-container2, .message-container3 {
   @include partial.messagecontainer;
}

.chatmessage1, .chatmessage2, .chatmessage3 {
    display: flex;
}

/*--------Answer Container--------*/
.answer-container {
    background-color: partial.$fifth-color;
    border-radius: partial.$border-radius  partial.$border-radius partial.$border-radius partial.$border-radius;
    min-height: 55svh;

    h2, h3 {
        color: partial.$tertiary-color;
    }

    h3 {
        margin-bottom: 30px
    }
}

/*--------Answer Buttons--------*/
#answer1btn, #answer2btn, #answer3btn {
    @include partial.answerbtn;
    
}

#answer1btn:hover, #answer2btn:hover, #answer3btn:hover {
    background-color: partial.$fourth-color;
    color: white;
}
/*-------------------------*/
/*--------Ending 1--------*/

#ending1 {
   display: none; 
}

.ending1-container {
    @include partial.badbg;
}

.advice1 {
    text-align: center;
}

/*--------Ending 1 btn--------*/
#warningbtn {
    @include partial.badbtn;
}
#warningbtn:hover {
    background-color: partial.$fourth-color;
}
/*-------------------------*/
/*--------Ending 2--------*/

#ending2 {
   display: none;
}

.ending2-container {
    @include partial.badbg;
    min-height: 52svh;

    h1 {
        margin-right: 50px;
    }
}

.advice2 {
    text-align: center;
}

/*--------Ending 2 btn--------*/
#errorbtn {
    @include partial.badbtn;
}

#errorbtn:hover {
    background-color: partial.$fourth-color;
}
/*-------------------------*/
/*-------------------------*/
/*--------Ending 3--------*/

#ending3 {
    display: none;
 }
 
.ending3-container {
     @include partial.standardbg;
    
     min-height: 70svh;
    
     h1 {
         margin-top: -20px;
     }
 
     h2 {
         margin-top: -30px;
     }
 }
 
 .advice3 {
     text-align: center;
 }
 
 /*--------Ending 3 btn--------*/
 #logoff1btn {
     @include partial.standardbtn;
     margin-left: 26px;
 }

#logoff1btn:hover {
    background-color: partial.$fourth-color;
    color: white;
} 

/*--------Ending 4--------*/

#ending4 {
    display: none;
}

.ending4-container {
    @include partial.standardbg;
    
    min-height: 66svh;
   
    h1 {
        margin-top: -20px;
    }

    h2 {
        margin-top: -30px;
    }
}

.advice4 {
    text-align: center;
}

/*--------Ending 4 btn--------*/
#logoff2btn {
    @include partial.standardbtn;
    
    margin-left: 26px;
}

#logoff2btn:hover {
    background-color: partial.$fourth-color;
    color: white;
}
/*-------------------------*/
/*--------Infografi--------*/
#infografi {
    
}

.infografi-container {
    @include partial.infografibg;
}

.emoji1, .emoji2, .emoji3, .emoji4, .emjoji5 {
    max-width: 30%;
}

.infographic1, .infographic2, .infographic3, .infographic4, .infographic5, .infographic6 {
    max-width: 60%;
}

.intro-container {
    @include partial.introcontainer;
}

/*--------info-container 1 & infbox 1 & 2--------*/
.info1-container {
    
}

.infobox1 {
    @include partial.infoboxpurple;
}

.infobox2 {
    @include partial.infoboxwhite;
}

/*--------Info-container 2 & row 5-8--------*/
.info2-container {
    @include partial.infoboxpurple;
}

/*--------Info Heading 1 Container--------*/
.infoheading1-container {
    @include partial.introcontainer;
}

/*--------Info-container 3 & row 9-11--------*/
.info3-container {
    @include partial.infoboxwhite;
}

/*--------info-container 4 & infbox 3 & 4--------*/
.info4-container {
    
}

.infobox3 {
    @include partial.infoboxpurple;
}

.infobox4 {
    @include partial.infoboxwhite;
}

/*--------Info Heading 2 Container--------*/
.infoheading2-container {
    @include partial.introcontainer;
}

/*--------Collapsibles--------*/
.collapsible {
    @include partial.collapsibles;
}

.active, .collapsible:hover {
    background-color: partial.$fourth-color;
}
.content {
    @include partial.content;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*--------End Chat History btn--------*/
#endchathistorybtn {
    @include partial.standardbtn;
    padding: 20px 30px;
}

/*-------------------------*/
/*--------Mobil Footer---------*/
.mobilfooter{
    @include partial.iconplacement;
   
    img{
        max-width: 50%;
    }
}
/*-------------------------*/
/*--------Desktop Footer--------*/
@media screen and (max-width: 968px) {
    .desktopfooter{
        @include partial.hidden;
    }
}

/*----------------------------------------*/


/*-------------Desktop Styling--------------*/
@media screen and (min-width: 968px) {

    /*--------General Styling---------*/
    h1 {
        font-size: 30px;
    }
      
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 26px;
    }
      
    img {
        max-width: 100%;
    }
      
    p, a {
        font-size: 20px;
    }

    /*-------------------------*/
    /*--------Login Box---------*/
    .login-container {
        @include partial.desktopstandardbg;
    }

    .welcome-window {
        height: 400px;
        border-radius: partial.$border-radius2;
    }

    .heading1 {
        font-size: 36px;
        margin-top: -8px;
        margin-left: 150px;
    }

    .heading2 {
        font-size: 34px;
        margin-top: 125px;
        margin-left: 150px;
    }

    /*--------Profil & Background Images--------*/
    .picturebox {
        margin-bottom: 50px;
    }

    /*--------Login Button---------*/
    #loginBtn {
        @include partial.desktopstandardbtn
    }

    /*-------------------------*/

    /*--------Chatbox--------*/
    /*--------Chat container & Messages--------*/
    
    .chat-container {
        @include partial.desktopstandardbg;
        min-height: 245svh;
    }

    /*--------Chatinfo container--------*/
    .chatinfo-container {
        border-radius: partial.$border-radius2, partial.$border-radius2, partial.$border-radius2, partial.$border-radius2;
    }

    /*--------Messages--------*/
    .message-container1, .message-container2, .message-container3 {
        @include partial.desktopmessagecontainer
    }

    /*--------Answer Container--------*/
    .answer-container {
        min-height: 90svh;
    }

    /*--------Answer Buttons--------*/
    #answer1btn, #answer2btn, #answer3btn {
        @include partial.desktopanswerbtn
    }

    /*--------Ending 1--------*/
    .ending1-container {
        @include partial.desktopbadbg;
    }

    /*--------Ending 1 btn--------*/
    #warningbtn {
        @include partial.desktopbadbtn;
    }

    /*-------------------------*/
    /*--------Ending 2--------*/
    .ending2-container {
       @include partial.desktopbadbg;
       min-height: 70svh;

       h1 {
        margin-right: 295px;
       }
    }

     /*--------Ending 2 btn--------*/
    #errorbtn {
        @include partial.desktopbadbtn;
    }

    /*-------------------------*/
    /*--------Ending 3--------*/
    .ending3-container {
        @include partial.desktopstandardbg;
        min-height: 75svh;
    }

    /*--------Ending 3 btn--------*/
    #logoff1btn {
        @include partial.desktopstandardbtn;
    }

    /*-------------------------*/
    /*--------Ending 4--------*/
    .ending4-container {
        @include partial.desktopstandardbg;
        min-height: 78svh;
    }

    /*--------Ending 4 btn--------*/
    #logoff2btn {
        @include partial.desktopstandardbtn;
    }

    /*-------------------------*/
    /*--------Mobil Footer---------*/
    .mobilfooter {
        @include partial.hidden;
    }

    /*-------------------------*/
    /*--------Desktop Footer---------*/
    .desktopfooter {
    @include partial.iconplacement;
    
        img {
            max-width: 60%;
        }    

    }
}