@charset "UTF-8";
/*----Variabler----*/
/*-------------------------*/
/*----Mixins----*/
/*@mixin navn(){}*/
/*--------Ikon Placering---------*/
/*-------------------------*/
/*--------Gradient-colour---------*/
/*-------------------------*/
/*--------Hidden---------*/
/*-------------------------*/
/*--------Container---------*/
/*-------------------------*/
/*--------Desktop Container---------*/
/*-------------------------*/
/*--------Message Baggrund---------*/
/*-------------------------*/
/*--------Desktop Message Baggrund---------*/
/*-------------------------*/
/*--------Knapper---------*/
/*-------------------------*/
/*--------Desktop Knapper---------*/
/*--------General Styling---------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Coiny", system-ui;
  color: #FFFFFF;
  font-weight: 300;
  padding: 1em;
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

img {
  max-width: 100%;
}

p, a {
  font-size: 14px;
}

p {
  padding: 0 2em 1.5em 2em;
}

a {
  text-decoration: none;
}

/*----------------------------------------*/
/*-------------Mobil Styling--------------*/
/*--------Login-box---------*/
.login-container {
  background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  color: white;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 280px;
  min-height: 80svh;
  padding: 20px;
  margin-bottom: 15px;
  padding-bottom: 50px;
}

.welcome-window {
  aspect-ratio: 1/1;
  background-image: url(../img/forsidebillede.png);
  color: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  height: 210px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: grid;
  place-content: start;
  width: 100%;
}

.heading1 {
  background: -webkit-linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -25px;
  font-size: 30px;
}

.heading2 {
  background: -webkit-linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -20px;
  font-size: 24px;
}

/*--------Username Felt---------*/
form {
  margin-top: 1.5em;
}

label {
  font-family: "Coiny", system-ui;
  color: #FFFFFF;
  font-size: 1.4em;
}

input[type=text] {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
  background-color: #AA64D8;
  width: 100%;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 20px 20px 20px 20px;
}

input[type=text]:focus {
  background-color: #6EBDFF;
}

::-moz-placeholder {
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
}

/*--------Profil & Background Images--------*/
.picturebox {
  margin-bottom: 30px;
}

.heading3, .heading4 {
  text-align: left;
}

.row1, .row2, .row3, .row4 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-top: 5px;
}

.avatar, .background1, .background2, .background3, .background4, .background5, .background6 {
  max-width: 30%;
}

/*--------Login Button--------*/
.loginbtn {
  font-family: "Coiny", system-ui;
  position: relative;
  background-color: #AA64D8;
  color: white;
  font-size: 20px;
  padding: 16px 80px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.loginbtn:hover {
  background-color: #BCB0D4;
  color: white;
}

/*-------------------------*/
/*--------Chatbox--------*/
.chatbox {
  display: none;
}

/*--------Chat container & Messages--------*/
.chat-container {
  background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  color: white;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 280px;
  min-height: 80svh;
  padding: 20px;
  margin-bottom: 15px;
}
.chat-container img {
  max-width: 30%;
  align-self: end;
}

/*--------3 Dots Img--------*/
.dot {
  margin-top: 30px;
}

/*--------Chatinfo container--------*/
.chatinfo-container {
  background: linear-gradient(#F7A3DF, #6EBDFF);
  border-radius: 30px;
}
.chatinfo-container h2 {
  margin-top: -50px;
}

/*--------Messages--------*/
.message-container1, .message-container2, .message-container3 {
  background-color: #FFFFFF;
  color: black;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 25px;
}

.chatmessage1, .chatmessage2, .chatmessage3 {
  display: flex;
}

/*--------Answer Container--------*/
.answer-container {
  background-color: #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  min-height: 55svh;
}
.answer-container h2, .answer-container h3 {
  color: #6EBDFF;
}
.answer-container h3 {
  margin-bottom: 30px;
}

/*--------Answer Buttons--------*/
.answer1btn, .answer2btn, .answer3btn {
  font-family: "Coiny", system-ui;
  font-size: 18px;
  background-color: #AA64D8;
  color: white;
  position: relative;
  display: block;
  padding: 16px 60px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.answer1btn:hover, .answer2btn:hover, .answer3btn:hover {
  background-color: #BCB0D4;
  color: white;
}

/*-------------------------*/
/*--------Ending 1--------*/
.ending1 {
  display: none;
}

.ending1-container {
  background: linear-gradient(#FBB394, #5A3572);
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 260px;
  min-height: 50svh;
  padding: 20px;
  margin-bottom: 15px;
}
.ending1-container h1, .ending1-container h2 {
  color: black;
}
.ending1-container h1 {
  float: right;
  margin-top: -5px;
  margin-right: 30px;
}
.ending1-container h2 {
  margin-bottom: -5px;
}

.advice1 {
  text-align: center;
}

/*--------Ending 1 btn--------*/
.warningbtn {
  font-family: "Coiny", system-ui;
  position: relative;
  background-color: #AA64D8;
  color: black;
  font-size: 20px;
  padding: 16px 80px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.warningbtn:hover {
  background-color: #BCB0D4;
}

/*-------------------------*/
/*--------Ending 2--------*/
.ending2 {
  display: none;
}

.ending2-container {
  background: linear-gradient(#FBB394, #5A3572);
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 260px;
  min-height: 50svh;
  padding: 20px;
  margin-bottom: 15px;
  min-height: 52svh;
}
.ending2-container h1, .ending2-container h2 {
  color: black;
}
.ending2-container h1 {
  float: right;
  margin-top: -5px;
  margin-right: 30px;
}
.ending2-container h2 {
  margin-bottom: -5px;
}
.ending2-container h1 {
  margin-right: 50px;
}

.advice2 {
  text-align: center;
}

/*--------Ending 2 btn--------*/
.errorbtn {
  font-family: "Coiny", system-ui;
  position: relative;
  background-color: #AA64D8;
  color: black;
  font-size: 20px;
  padding: 16px 80px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.errorbtn:hover {
  background-color: #BCB0D4;
}

/*-------------------------*/
/*--------Ending 3--------*/
.ending3 {
  display: none;
}

.ending3-container {
  background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  color: white;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 280px;
  min-height: 80svh;
  padding: 20px;
  margin-bottom: 15px;
  min-height: 66svh;
}
.ending3-container h1 {
  margin-top: -20px;
}
.ending3-container h2 {
  margin-top: -30px;
}

.advice3 {
  text-align: center;
}

/*--------Ending 3 btn--------*/
.logoff1btn {
  font-family: "Coiny", system-ui;
  position: relative;
  background-color: #AA64D8;
  color: white;
  font-size: 20px;
  padding: 16px 80px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-left: 26px;
}

.logoff1btn:hover {
  background-color: #BCB0D4;
  color: white;
}

/*-------------------------*/
/*--------Ending 4--------*/
.ending4 {
  display: none;
}

.ending4-container {
  background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
  color: white;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 30px;
  width: 100svw; /* 100% indtil max-width nås */
  max-width: 280px;
  min-height: 80svh;
  padding: 20px;
  margin-bottom: 15px;
  min-height: 70svh;
}
.ending4-container h1 {
  margin-top: -20px;
}
.ending4-container h2 {
  margin-top: -30px;
}

.advice4 {
  text-align: center;
}

/*--------Ending 4 btn--------*/
.logoff2btn {
  font-family: "Coiny", system-ui;
  position: relative;
  background-color: #AA64D8;
  color: white;
  font-size: 20px;
  padding: 16px 80px;
  margin-left: 35px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-left: 26px;
}

.logoff2btn:hover {
  background-color: #BCB0D4;
  color: white;
}

/*-------------------------*/
/*--------Infografi--------*/
.infografi {
  display: none;
}

/*-------------------------*/
/*--------Mobil Footer---------*/
.mobilfooter {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  text-align: center;
}
.mobilfooter img {
  max-width: 50%;
}

/*-------------------------*/
/*--------Desktop Footer--------*/
@media screen and (max-width: 968px) {
  .desktopfooter {
    visibility: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
/*----------------------------------------*/
/*-------------Desktop Styling--------------*/
@media screen and (min-width: 968px) {
  /*--------General Styling---------*/
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 26px;
  }
  img {
    max-width: 100%;
  }
  p, a {
    font-size: 20px;
  }
  /*-------------------------*/
  /*--------Login Box---------*/
  .login-container {
    background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
    color: white;
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 280svh;
    padding: 20px;
    margin-bottom: 35px;
  }
  .welcome-window {
    height: 400px;
  }
  .heading1 {
    font-size: 36px;
    margin-top: -8px;
    margin-left: 150px;
  }
  .heading2 {
    font-size: 34px;
    margin-top: 125px;
    margin-left: 150px;
  }
  /*--------Profil & Background Images--------*/
  .picturebox {
    margin-bottom: 50px;
  }
  /*--------Login Button---------*/
  .loginbtn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: white;
    font-size: 20px;
    padding: 28px 120px;
    margin-left: 245px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }
  /*-------------------------*/
  /*--------Chatbox--------*/
  /*--------Chat container & Messages--------*/
  .chat-container {
    background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
    color: white;
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 280svh;
    padding: 20px;
    margin-bottom: 35px;
    min-height: 245svh;
  }
  /*--------Chatinfo container--------*/
  .chatinfo-container {
    border-radius: 50px, 50px, 50px, 50px;
  }
  /*--------Messages--------*/
  .message-container1, .message-container2, .message-container3 {
    background-color: #FFFFFF;
    color: black;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 25px;
  }
  /*--------Answer Container--------*/
  .answer-container {
    min-height: 90svh;
  }
  /*--------Answer Buttons--------*/
  .answer1btn, .answer2btn, .answer3btn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: white;
    font-size: 20px;
    padding: 28px 120px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  /*--------Ending 1--------*/
  .ending1-container {
    background: linear-gradient(#FBB394, #5A3572);
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 65svh;
    padding: 20px;
    margin-bottom: 35px;
  }
  .ending1-container h1, .ending1-container h2 {
    color: black;
  }
  .ending1-container h1 {
    float: right;
    margin-top: -5px;
    margin-right: 265px;
  }
  .ending1-container h2 {
    margin-bottom: -8px;
  }
  .ending1-container img {
    margin-left: 250px;
    margin-top: 10px;
  }
  /*--------Ending 1 btn--------*/
  .warningbtn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: black;
    font-size: 20px;
    padding: 28px 120px;
    margin-left: 260px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }
  /*-------------------------*/
  /*--------Ending 2--------*/
  .ending2-container {
    background: linear-gradient(#FBB394, #5A3572);
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 65svh;
    padding: 20px;
    margin-bottom: 35px;
    min-height: 70svh;
  }
  .ending2-container h1, .ending2-container h2 {
    color: black;
  }
  .ending2-container h1 {
    float: right;
    margin-top: -5px;
    margin-right: 265px;
  }
  .ending2-container h2 {
    margin-bottom: -8px;
  }
  .ending2-container img {
    margin-left: 250px;
    margin-top: 10px;
  }
  .ending2-container h1 {
    margin-right: 295px;
  }
  /*--------Ending 2 btn--------*/
  .errorbtn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: black;
    font-size: 20px;
    padding: 28px 120px;
    margin-left: 260px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }
  /*-------------------------*/
  /*--------Ending 3--------*/
  .ending3-container {
    background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
    color: white;
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 280svh;
    padding: 20px;
    margin-bottom: 35px;
    min-height: 75svh;
  }
  /*--------Ending 3 btn--------*/
  .logoff1btn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: white;
    font-size: 20px;
    padding: 28px 120px;
    margin-left: 245px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }
  /*-------------------------*/
  /*--------Ending 4--------*/
  .ending4-container {
    background: linear-gradient(#AA64D8, #F7A3DF, #6EBDFF);
    color: white;
    border-radius: 50px 50px 50px 50px;
    margin: auto;
    margin-top: 30px;
    width: 100svw; /* 100% indtil max-width nås */
    max-width: 800px;
    min-height: 280svh;
    padding: 20px;
    margin-bottom: 35px;
    min-height: 78svh;
  }
  /*--------Ending 4 btn--------*/
  .logoff2btn {
    font-family: "Coiny", system-ui;
    position: relative;
    background-color: #AA64D8;
    color: white;
    font-size: 20px;
    padding: 28px 120px;
    margin-left: 245px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
  }
  /*-------------------------*/
  /*--------Mobil Footer---------*/
  .mobilfooter {
    visibility: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /*-------------------------*/
  /*--------Desktop Footer---------*/
  .desktopfooter {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    text-align: center;
  }
  .desktopfooter img {
    max-width: 60%;
  }
}/*# sourceMappingURL=style.css.map */